COMPOSE_PROJECT_NAME=docker
TIMEZONE=Asia/Jakarta

# Image Version Settings
PHP_VERSION=8.4
NODE_VERSION=24
MYSQL_VERSION=8.4

# Target Wrapper Folder
APP_CODE_PATH_HOST=../www
APP_CODE_PATH_CONTAINER=/var/www

# Database Credentials
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
REDIS_PASSWORD=secret_redis
